<%- include('partials/header.ejs'); -%>

<!-- undrer header -->
<div class="gradient-background undhea">
    <div>
      <h1>Create a poll</h1>
      <h1>faster than ever</h1>
    </div>
    <img src="images/poll.png" alt="poll" height="550px" class="slika">
</div>

  <!-- first feature tab -->
  <div class="container px-4 py-5 ">
    <h2 class="pb-2 border-bottom">Security and Reliability</h2>
    <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
      <div class="col d-flex flex-column align-items-start gap-2">
        <h2 class="fw-bold text-body-emphasis">Security and Reliability makes us safe for use</h2>
        <p class="text-body-secondary">We put alot effort in this field. We made sure everything is secured and only autenthicated users can vote on our site. Also your data are all secured in the most modern way!</p>
        <a href="/register" class="btn btn-info btn-lg">Start voting</a>
      </div>

      <div class="col">
        <div class="row row-cols-1 row-cols-sm-2 g-4">
          <div class="col d-flex flex-column gap-2">
            <div class="feature-icon-small d-inline-flex align-items-center justify-content-start text-bg-light bg-gradient fs-4 rounded-3">
              <svg class="bi ps-1" width="1em" height="1em" style="transform: scale(2);">
                <path d="M5.338 1.59a61 61 0 0 0-2.837.856.48.48 0 0 0-.328.39c-.554 4.157.726 7.19 2.253 9.188a10.7 10.7 0 0 0 2.287 2.233c.346.244.652.42.893.533q.18.085.293.118a1 1 0 0 0 .101.025 1 1 0 0 0 .1-.025q.114-.034.294-.118c.24-.113.547-.29.893-.533a10.7 10.7 0 0 0 2.287-2.233c1.527-1.997 2.807-5.031 2.253-9.188a.48.48 0 0 0-.328-.39c-.651-.213-1.75-.56-2.837-.855C9.552 1.29 8.531 1.067 8 1.067c-.53 0-1.552.223-2.662.524zM5.072.56C6.157.265 7.31 0 8 0s1.843.265 2.928.56c1.11.3 2.229.655 2.887.87a1.54 1.54 0 0 1 1.044 1.262c.596 4.477-.787 7.795-2.465 9.99a11.8 11.8 0 0 1-2.517 2.453 7 7 0 0 1-1.048.625c-.28.132-.581.24-.829.24s-.548-.108-.829-.24a7 7 0 0 1-1.048-.625 11.8 11.8 0 0 1-2.517-2.453C1.928 10.487.545 7.169 1.141 2.692A1.54 1.54 0 0 1 2.185 1.43 63 63 0 0 1 5.072.56"/>
                <path d="M9.5 6.5a1.5 1.5 0 0 1-1 1.415l.385 1.99a.5.5 0 0 1-.491.595h-.788a.5.5 0 0 1-.49-.595l.384-1.99a1.5 1.5 0 1 1 2-1.415"/>
              </svg>
            </div>
            <h4 class="fw-semibold mb-0 text-body-emphasis">Secure Voting</h4>
            <p class="text-body-secondary">Ensure the integrity of your votes with 256-bit SSL encryption and unique voter IDs, guaranteeing that each voter can vote only once</p>
          </div>

          <div class="col d-flex flex-column gap-2">
            <div class="feature-icon-small d-inline-flex align-items-center justify-content-start text-bg-light bg-gradient fs-4 rounded-3">
              <svg class="bi ps-1" width="1em" height="1em" style="transform: scale(2);">
                <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m1.679-4.493-1.335 2.226a.75.75 0 0 1-1.174.144l-.774-.773a.5.5 0 0 1 .708-.708l.547.548 1.17-1.951a.5.5 0 1 1 .858.514M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4"/>
                <path d="M8.256 14a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1z"/>
              </svg>
            </div>
            <h4 class="fw-semibold mb-0 text-body-emphasis">Voter Authentication</h4>
            <p class="text-body-secondary">Ensure that only authorized users can vote by using email verification, unique voting codes, and integration with popular authentication services</p>
          </div>

          <div class="col d-flex flex-column gap-2">
            <div class="feature-icon-small d-inline-flex align-items-center justify-content-start text-bg-light bg-gradient fs-4 rounded-3">
              <svg class="bi ps-1" width="1em" height="1em" style="transform: scale(2);">
                <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1zm13 2.383-4.708 2.825L15 11.105zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741M1 11.105l4.708-2.897L1 5.383z"/>
              </svg>
            </div>
            <h4 class="fw-semibold mb-0 text-body-emphasis">Email Notifications</h4>
            <p class="text-body-secondary">Notify voters via email when a poll starts, providing them with unique voting links and reminders to cast their votes</p>
          </div>

          <div class="col d-flex flex-column gap-2">
            <div class="feature-icon-small d-inline-flex align-items-center justify-content-start text-bg-light bg-gradient fs-4 rounded-3">
              <svg class="bi ps-1" width="1em" height="1em" style="transform: scale(2);">
                <path d="M11 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h1V7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7h1zm1 12h2V2h-2zm-3 0V7H7v7zm-5 0v-3H2v3z"/>
              </svg>
            </div>
            <h4 class="fw-semibold mb-0 text-body-emphasis">Detailed Analytics</h4>
            <p class="text-body-secondary">Get detailed analytics and voting reports, including graphical representations, tables, and the ability to export data in CSV or Excel formats</p>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- partners -->
<div class="partners">
    <div class="container marketing py-5">
        <h2 class="mb-4 mt-3">This companies use VoteHUB</h2>
        <div class="row">
        <div class="col-lg-4">
          <img src="images/google.webp" alt="Google logo" width="140px" height="140px" class="mb-2">
          <h2 class="fw-normal">Google</h2>
          <p>Google is an multinational corporation and technology company focusing on online advertising, search engine technology, cloud computing, computer software, quantum computing, e-commerce, consumer electronics, and artificial intelligence (AI)</p>
        </div>
        <div class="col-lg-4">
          <img src="images/pinterest.png" alt="Pinterest logo" width="140px" height="140px" class="mb-2">
          <h2 class="fw-normal">Pinterest</h2>
          <p>Pinterest is an image sharing and social media service designed to enable saving and discovery of information (specifically "ideas") like recipes, home, style, motivation, and inspiration on the internet using images and, on a smaller scale, animated GIFs and videos</p>
        </div>
        <div class="col-lg-4">
          <img src="images/meta.jpg" alt="Meta logo" width="140px" height="140px" class="mb-2 rounded-circle">
          <h2 class="fw-normal">Meta</h2>
          <p>Meta Platforms is an multinational technology conglomerate based in Menlo Park, California. The company owns and operates Facebook, Instagram, Threads, and WhatsApp, among other products and services.</p>
        </div>
      </div>
    </div>
</div>

<!-- second feature tab -->
<div class="container px-4 py-5 ">
  <h2 class="pb-2 border-bottom">User Experience and Customization</h2>
  <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
    <div class="col">
      <div class="row row-cols-1 row-cols-sm-2 g-4">
        <div class="col d-flex flex-column gap-2">
          <div class="feature-icon-small d-inline-flex align-items-center justify-content-start text-bg-light bg-gradient fs-4 rounded-3">
            <svg class="bi ps-1" width="1em" height="1em" style="transform: scale(2);">
              <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71z"/>
              <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0"/>
            </svg>
          </div>
          <h4 class="fw-semibold mb-0 text-body-emphasis">Real-time Results</h4>
          <p class="text-body-secondary">Track voting results in real-time with graphical displays for better visualization. Results automatically update as votes come in</p>
        </div>

        <div class="col d-flex flex-column gap-2">
          <div class="feature-icon-small d-inline-flex align-items-center justify-content-start text-bg-light bg-gradient fs-4 rounded-3">
            <svg class="bi ps-1" width="1em" height="1em" style="transform: scale(2);">
              <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
              <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
            </svg>
          </div>
          <h4 class="fw-semibold mb-0 text-body-emphasis">User-friendly Interface</h4>
          <p class="text-body-secondary">Our platform is easy to use, with an intuitive user interface that allows for quick creation and management of polls</p>
        </div>

        <div class="col d-flex flex-column gap-2">
          <div class="feature-icon-small d-inline-flex align-items-center justify-content-start text-bg-light bg-gradient fs-4 rounded-3">
            <svg class="bi ps-1" width="1em" height="1em" style="transform: scale(2);">
              <path d="M11 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM5 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
              <path d="M8 14a1 1 0 1 0 0-2 1 1 0 0 0 0 2"/>
            </svg>
          </div>
          <h4 class="fw-semibold mb-0 text-body-emphasis">Mobile Compatibility</h4>
          <p class="text-body-secondary">Optimized for mobile devices, allowing voters to cast their votes anytime and anywhere through web browsers or iOS and Android apps</p>
        </div>

        <div class="col d-flex flex-column gap-2">
          <div class="feature-icon-small d-inline-flex align-items-center justify-content-start text-bg-light bg-gradient fs-4 rounded-3">
            <svg class="bi ps-1" width="1em" height="1em" style="transform: scale(2);">
              <path d="M15.825.12a.5.5 0 0 1 .132.584c-1.53 3.43-4.743 8.17-7.095 10.64a6.1 6.1 0 0 1-2.373 1.534c-.018.227-.06.538-.16.868-.201.659-.667 1.479-1.708 1.74a8.1 8.1 0 0 1-3.078.132 4 4 0 0 1-.562-.135 1.4 1.4 0 0 1-.466-.247.7.7 0 0 1-.204-.288.62.62 0 0 1 .004-.443c.095-.245.316-.38.461-.452.394-.197.625-.453.867-.826.095-.144.184-.297.287-.472l.117-.198c.151-.255.326-.54.546-.848.528-.739 1.201-.925 1.746-.896q.19.012.348.048c.062-.172.142-.38.238-.608.261-.619.658-1.419 1.187-2.069 2.176-2.67 6.18-6.206 9.117-8.104a.5.5 0 0 1 .596.04M4.705 11.912a1.2 1.2 0 0 0-.419-.1c-.246-.013-.573.05-.879.479-.197.275-.355.532-.5.777l-.105.177c-.106.181-.213.362-.32.528a3.4 3.4 0 0 1-.76.861c.69.112 1.736.111 2.657-.12.559-.139.843-.569.993-1.06a3 3 0 0 0 .126-.75zm1.44.026c.12-.04.277-.1.458-.183a5.1 5.1 0 0 0 1.535-1.1c1.9-1.996 4.412-5.57 6.052-8.631-2.59 1.927-5.566 4.66-7.302 6.792-.442.543-.795 1.243-1.042 1.826-.121.288-.214.54-.275.72v.001l.575.575zm-4.973 3.04.007-.005zm3.582-3.043.002.001h-.002z"/>
            </svg>
          </div>
          <h4 class="fw-semibold mb-0 text-body-emphasis">Customizable Polls</h4>
          <p class="text-body-secondary">Customize your polls by adding logos, colors, and images, as well as setting different voting options, including write-in choices</p>
        </div>
      </div>
    </div>

    <div class="col d-flex flex-column align-items-end gap-2">
      <h2 class="fw-bold text-body-emphasis">User Experience and Customization makes us easy to use</h2>
      <p class="text-body-secondary">Make polls on easiest way possible with alot of customizations. You will love how fast you can make your poll!</p>
      <a href="/register" class="btn btn-info btn-lg">Start voting</a>
    </div>
  </div>
</div>

<%- include('partials/footer.ejs'); -%>