<%- include("partials/header.ejs") -%>

  <form action="/make-poll" method="post" id="create">
    <h1>Create poll</h1>
    <input type="text" minlength="6" maxlength="72" placeholder="Enter poll name" name="name" oninvalid="this.setCustomValidity(`Poll name field need from 6 to 72 letters!`)" oninput="setCustomValidity('')" autocomplete="off" required>
    <div class="options">
      <input type="text" minlength="2" maxlength="16" placeholder="Enter first poll option" name="option1" oninvalid="this.setCustomValidity(`Option field need from 2 to 16 letters!`)" oninput="setCustomValidity('')" autocomplete="off" required>
      <input type="text" minlength="2" maxlength="16" placeholder="Enter second poll option" name="option2" oninvalid="this.setCustomValidity(`Option field need from 2 to 16 letters!`)" oninput="setCustomValidity('')" autocomplete="off" required>
    </div>
    <div class="submit"><input type="submit"></div>
  </form>
  
<%- include('partials/footer.ejs'); -%>